body {
  background-image: url("http://media.t3.com/img/resized/ma/xxl_MAC293mainfeatbackdrop-970-80.jpg") no-repeat fixed center;
  background-size:100%;
  background-position: right top;
  font-family: garamond;
}

p {
	text-align: center;
	font-family: tahoma;
	font-size: 16px;
	color: #222;
}

h1 {
	text-align: center;
	font-size: 60px;
	line-height: 10px;
	margin-bottom: 40px;
}

h2 {
	text-align: center;
	color: #333;  
}

h1 { color: #CEF0D4; font-family: 'Rouge Script', cursive; font-size: 130px; font-weight: normal; line-height: 48px; margin: 0 0 50px; text-align: center; text-shadow: 1px 1px 2px #082b34; }

h3 {
	text-align: center;
	color: #333; 
}

.button { 
	border-radius: 4px;
	border-width: 1px;
	padding: 2px 4px 2px 4px;
}
	
.chart-container { 
	width: 48%; 
	height: auto;
	float: left;
	margin-bottom: 10px;
}

#search-field {
	margin: 40px auto 30px auto;
	width: 40%;
	text-align: center;
}	

.option {
 	width: 40%;
	margin: auto;
	margin-bottom: 60px;
}
		

.slider {
	float: right;
	width: 50%;
	margin-top: 2px;
}

.slider-text { 
	float: right;
	width: 22%; 
	margin: auto;
	margin-right: 5px;
	margin-left: 5px;
}

input[type=text] {
    border: 1px solid #aaaaaa;
	padding: 2px;
    border-radius: 4px;
}

.dp-menu {
	width: 250px;
	border-radius: 4px;
	border-width: 1px;
}

#amount {
    width: 20%;	
	height: 20px;
	padding: 0px 0px 0px 3px;
	margin-right: 5px;
}

#temp_field {
	margin: 0px 0px 10px 20px;
 	float: right;
	width: 30%;
}


#rec-text {
	font-size: 18px;
	margin-top: 80px;
}

#not-found-text {
	margin-top: 80px;
	font-size: 20px;
}
	
@media only screen and (max-width: 980px) {
	
	h1 {
		font-size: 50px;
	}
	
	h2 {
		font-size: 20px;
	}

	.m-hide {
		display: none;
	}
	
	.slider {
		float: right;
		width: 40%;
		margin-top: 2px;
	}
	
	.slider-text { 
		float: right;
		width: 25%; 
		margin: auto;
		margin-right: 3px;
		margin-left: 3px;
	}
	
	.option {
	 	width: 100%;
		margin: auto;
		margin-bottom: 60px;
	}
		
	.chart-container { 
		width: 100%; 
		height: auto;
		float: left;
		margin-bottom: 10px;
	}
	
	#search-field {
		margin: 40px auto 30px auto;
		width: 100%;
		text-align: center;
	}

}

.disclaimer {
	clear: both;
	font-style: italic;
	font-size: 10px;
	margin-top: 250px;
}