body {
  font-family: tahoma;
}

p {
	text-align: center;
	font-family: tahoma;
	font-size: 16px;
	color: #FFFFFF;
	text-shadow: 1px 1px #000000;
}

h1 {
	text-align: center;
	font-size: 70px;
	line-height: 10px;
	margin-bottom: 40px;
	font-family: 'Muli';
	color: #CEF0D4;
	text-shadow: 1px 1px #000; 
}

h2 {
	
	text-align: center;
	color: #CEF0D4; 
	font-family: 'Muli'; 
	text-shadow: 1px 1px #000; 
}

h3 {
	text-align: center;
    color: #CEF0D4;
    font-family: 'muli'; 
	text-shadow: 1px 1px #000; 
}

.button { 
	color: #fff;
	background: #AEC985;
	font-size: 18px;
	border-radius: 4px;
	padding: 1px 4px 1px 4px;
	border-width: 1px;
}
	
.chart-container { 
	width: 48%; 
	height: auto;
	float: left;
	margin-bottom: 10px;
}

#search-field {
	margin: 40px auto 30px auto;
	width: 40%;
	text-align: center;
}	

.option {
 	width: 40%;
	margin: auto;
	margin-bottom: 60px;
}
		


.slider {
	float: right;
	width: 50%;
	margin-top: 2px;
}

.slider-text { 
	float: right;
	width: 22%; 
	margin: auto;
	margin-right: 5px;
	margin-left: 5px;
}


input[type=text] {
    border: 1px solid #aaaaaa;
	padding: 2px;
    border-radius: 4px;
}

.dp-menu {
	width: 60%;
	border-radius: 4px;
	border-width: 1px;
	font-size: 20px;
}

#amount {
    width: 20%;	
	height: 20px;
	padding: 0px 0px 0px 3px;
	margin-right: 5px;
}

#temp_field {
	margin: 0px 0px 10px 20px;
 	float: right;
	width: 30%;
	color: #FFFFFF;
	text-shadow: 2px 2px #000000;
}


#rec-text {
	font-size: 18px;
	margin-top: 80px;
}

#not-found-text {
	margin-top: 80px;
	font-size: 20px;
}

.about a {
	color: #fff;
	text-decoration: none;
}

.about {
	font-size: 10px;
	text-shadow: 1px 1px #000000;
	margin-top: 250px;
}	
		
@media only screen and (max-width: 980px) {
	
	#rec-text {
		font-size: 18px;
		margin-top: 80px;
	}

	h1 {
		font-size: 50px;
	}
	
	h2 {
		font-size: 20px;
	}

	.m-hide {
		display: none;
	}
	
	.slider {
		float: right;
		width: 40%;
		margin-top: 2px;
	}
	
	.slider-text { 
		float: right;
		width: 25%; 
		margin: auto;
		margin-right: 3px;
		margin-left: 3px;
	}
	
	.option {
	 	width: 100%;
		margin: auto;
		margin-bottom: 60px;
	}
		
	.chart-container { 
		width: 100%; 
		height: auto;
		float: left;
		margin-bottom: 10px;
	}
	
	#search-field {
		margin: 40px auto 30px auto;
		width: 100%;
		text-align: center;
	}

}

.disclaimer a {
	color: #fff;
	text-decoration: none;
}

.disclaimer {
	clear: both;
	font-size: 10px;
	margin-top: 250px;
}

.photo_credit {
	font-size: 10px;
}