body {
  font-family: garamond;	
}

p {
	text-align: center;
	font-family: tacoma;
	font-size: 16px;
	color: #FFFFFF;
	text-shadow: 2px 2px #000000;
}

h1 {
	text-align: center;
	font-size: 60px;
	line-height: 10px;
	margin-bottom: 40px;
}

h2 {
	text-align: center;
	color: #333;  
}

h3 {
	text-align: center;
	color: #ffffff; 
}

.button { 
	color: #66952e;	
	padding: 8px 20px;
	background: #e8e8e8;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	background: #c0d59f;
	background: -moz-linear-gradient(top, #c0d59f 51%, #aec985 51%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(51%,#c0d59f), color-stop(51%,#aec985));
	background: -webkit-linear-gradient(top, #c0d59f 51%,#aec985 51%);
	background: -o-linear-gradient(top, #c0d59f 51%,#aec985 51%);
	background: -ms-linear-gradient(top, #c0d59f 51%,#aec985 51%);
	background: linear-gradient(top, #c0d59f 51%,#aec985 51%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0d59f', endColorstr='#aec985',GradientType=0 );
}
	
.chart-container { 
	width: 48%; 
	height: auto;
	float: left;
	margin-bottom: 10px;
}

#search-field {
	margin: 40px auto 30px auto;
	width: 40%;
	text-align: center;
}	

.option {
 	width: 40%;
	margin: auto;
	margin-bottom: 60px;
}
		


.slider {
	float: right;
	width: 50%;
	margin-top: 2px;
}

.slider-text { 
	float: right;
	width: 22%; 
	margin: auto;
	margin-right: 5px;
	margin-left: 5px;
}


input[type=text] {
    border: 1px solid #aaaaaa;
	padding: 2px;
    border-radius: 4px;
}

.dp-menu {
	width: 60%;
	border-radius: 4px;
	border-width: 1px;
	font-size: 18px;
}

#amount {
    width: 20%;	
	height: 20px;
	padding: 0px 0px 0px 3px;
	margin-right: 5px;
}

#temp_field {
	margin: 0px 0px 10px 20px;
 	float: right;
	width: 30%;
	color: #FFFFFF;
	text-shadow: 2px 2px #000000;
}


#rec-text {
	font-size: 18px;
	margin-top: 80px;
}

#not-found-text {
	margin-top: 80px;
	font-size: 20px;
}
	
@media only screen and (max-width: 980px) {
	
	#rec-text {
		font-size: 18px;
		margin-top: 80px;
	}

	h1 {
		font-size: 50px;
	}
	
	h2 {
		font-size: 20px;
	}

	.m-hide {
		display: none;
	}
	
	.slider {
		float: right;
		width: 40%;
		margin-top: 2px;
	}
	
	.slider-text { 
		float: right;
		width: 25%; 
		margin: auto;
		margin-right: 3px;
		margin-left: 3px;
	}
	
	.option {
	 	width: 100%;
		margin: auto;
		margin-bottom: 60px;
	}
		
	.chart-container { 
		width: 100%; 
		height: auto;
		float: left;
		margin-bottom: 10px;
	}
	
	#search-field {
		margin: 40px auto 30px auto;
		width: 100%;
		text-align: center;
	}

}

.disclaimer {
	clear: both;
	font-style: italic;
	font-size: 10px;
	margin-top: 250px;
}