body {
  font-family: tahoma;
  margin: -30px 0px -30px 0px;
}

p {
	text-align: center;
	font-family: tahoma;
	font-size: 16px;
	color: #FFFFFF;
	text-shadow: 1px 1px #000000;
}

h1 {
	text-align: center;
	font-size: 70px;
	line-height: 1;
	margin-bottom: 40px;
	font-family: 'Muli';
	color: #CEF0D4;
	text-shadow: 1px 1px #000; 
}

h2 {
	
	text-align: center;
	color: #CEF0D4; 
	font-family: 'Muli'; 
	text-shadow: 1px 1px #000; 
}

h3 {
	text-align: center;
  color: #CEF0D4;
  font-family: 'muli'; 
	text-shadow: 1px 1px #000; 
	font-size: 24px;
}

.button { 
	color: #fff;
	background: #AEC985;
	font-size: 18px;
	border-radius: 4px;
	padding: 1px 4px 1px 4px;
	border-width: 1px;
}
	
.chart-container { 
	width: 80%; 
	height: auto;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
}

#search-field {
	float: left;
	width: 60%;
	margin-left: 10%;
}	

.dp-menu {
	width: 70%;
	border-radius: 4px;
	border-width: 1px;
	font-size: 20px;
}

#helpButton {
	font-weight: bold;
    font-size: 16px;	
	border-radius: 50px;
	border: 2px solid #000;
}

#help {
	width: 5%;
	float: left;
}

#submitLine {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	padding-left: 21%;
}

#content {
	background: rgba(20, 20, 20, .65);
	width: 70%;
	margin: 30px auto 0px auto;
	padding: 30px 0px 10px 0px;
	margin-bottom: 30px;
}

.option {
 	width: 60%;
	margin: auto;
	margin-bottom: 60px;
}
		


.slider {
	float: right;
	width: 50%;
	margin-top: 2px;
}

.slider-text { 
	float: right;
	width: 22%; 
	margin: auto;
	margin-right: 5px;
	margin-left: 5px;
}


input[type=text] {
    border: 1px solid #aaaaaa;
	padding: 2px;
    border-radius: 4px;
}

.subhead {
	width: 80%;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
  color: #CEF0D4; 
	font-family: 'Muli';
	font-size: 20px;
	font-weight: bold;
}

.recText {
	width: 80%;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

.subheadChart {
	width: 100%;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
  color: #CEF0D4; 
	font-family: 'Muli';
	font-size: 20px;
	font-weight: bold;
}

#amount {
    width: 20%;	
	height: 20px;
	padding: 0px 0px 0px 3px;
	margin-right: 5px;
}

#temp_field {
	margin: 0px 0px 10px 20px;
 	float: right;
	width: 30%;
	color: #FFFFFF;
	text-shadow: 1px 1px #000000;
}

#not-found-text {
	margin-top: 80px;
	font-size: 20px;
}

a {
	color: #00FFFF;
	text-decoration: none;
}


.about {
	font-size: 10px;
	text-shadow: 1px 1px #000000;
	margin-top: 100px;
}	
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 170px;
    background-color: black;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 120%;
	top: -150%;
  	font-family: tahoma;
  	font-weight: normal;
  	font-size: 10px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.disclaimer {
	clear: both;
	font-size: 10px;
}

.photoCredit {
	font-size: 10px;
	text-align: left;
	width: 80%;
	margin: auto;
}

.space {
	height: 100px;
}

.c3-legend-item {
	fill: white;
	text-shadow: 1px 1px #000000;
}
 
.c3-axis-y {
	fill: white;
    font-size:12px;
	text-shadow: 1px 1px #000000;
}

.c3-axis-x {
	fill: white;
    font-size:12px;
	text-shadow: 1px 1px #000000;
}

.c3 .c3-axis-x path, .c3 .c3-axis-x line {
    stroke: white;
}
.c3 .c3-axis-y path, .c3 .c3-axis-y line {
    stroke: white;
}

@media only screen and (max-width: 980px) {

	h1 {
		font-size: 50px;
	}
	
	h2 {
		font-size: 20px;
	}

	#content {
		width: 90%;
	}
	
	.m-hide {
		display: none;
	}
	
	.slider {
		float: right;
		width: 40%;
		margin-top: 2px;
	}
	
	.slider-text { 
		width: 25%; 
	}
	
	.option {
	 	width: 100%;
		margin: auto;
		margin-bottom: 60px;
	}
		
	.chart-container { 
		width: 90%; 
	}
	
	#search-field {
		width: 80%;
		text-align: center;
	}
	
	.dp-menu {
		width: 60%;
	}
	
	#submitLine {
		width: 100%;
		padding-left: 0%;
	}
	
	.subhead {
		width: 90%;
	}

	.recText {
		width: 90%;
	}
	
	.photoCredit {
		width: 90%;
	}
	
}
