body {
  font-family: garamond;	
}

p {
	text-align: center;
}

h1 {
	text-align: center;
	font-size: 60px;
	line-height: 10px;
	margin-bottom: 40px;
}

h2 {
	text-align: center;
	color: #333;  
}

h3 {
	text-align: center;
	color: #333; 
}

.option {
 	width: 40%;
	margin: auto;
}

.option2 {
 	width: 40%;
	margin: auto;
	margin-top: 30px;
}

.slider {
	float: right;
	width: 50%;
	margin-top: 2px;
}

.slider-text { 
	float: right;
	width: 25%; 
	margin: auto;
}

#amount {
  width: 20%;	
	height: 20px;
	padding: 0px 0px 0px 3px;
	margin-right: 5px;
}

#temp_field {
	margin: 0px 0px 10px 20px;
 	float: right;
	width: 30%;
}

#search-field {
	margin: 40px 0px 30px 0px;
}

.double-chart-container {

}
	
.chart-container { 
	width: 48%; 
	height: auto;
	float: left;
	margin-bottom: 10px;
}

.disclaimer {
	clear: both;
	font-style: italic;
	margin-top: 300px;
}